{% extends 'base.html' %}
{% block title %}{{ cats }} {% endblock title %}
{% block content %}
{% if category_posts %}
  <div class="contanier mt-4 mb-5">
    <h1>{{ cats }}</h1>
    <ul>
    {% for post in category_posts %}
      <li>
        <a href="{% url 'article-detail' post.pk %}"> {{ post.title }} </a> -
        {{ post.category }}
        {{ post.author.first_name }} - {{ post.author.email }} - {{ post.post_date }}
        {% if user.is_superuser %}
          <small><a href="{% url 'update_post' post.pk %}">(Editar)</a></small> -
          <small><a href="{% url 'delete_post' post.pk %}">(Eliminar)</a></small>
          <br />
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>

{% else %}
  <div class="container mt-4 mb-5">
    <h2 class="text-danger">Lo sentimos está página no existe ....</h2>
  </div>
{% endif %}

{% endblock content %}