{% extends 'base.html' %}
{% block title %}Eliminar publicaciones {% endblock %}
{% block content %} {% if user.is_authenticated %}
<div class="container mt-5">
  <h1>Eliminar publicación</h1>
  <h3>Eliminar: {{ post.title }}</h3>
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <strong>Esta seguro?</strong> <br /><br />
      <button class="btn btn-danger">Eliminar</button>
    </form>
  </div>
</div>
{% else %}
<p class="">Usted no tiene permisos para ingresar a esta Página!!!</p>
{% endif %}
{% endblock content %}