[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pylint = "*"
pylint-django = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-decouple = "*"
django-debug-toolbar = "*"
django-ckeditor = "*"

[dev-packages]
sync = "*"
flake8 = "*"

[requires]
python_version = "3.8"
