{% load static %}
<footer id="footer" class="pb-4 pt-4 mt-5 bg-dark clearfix">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-lg">
              <h6 class="text-white">Contactanos</h6>
                <div class="form-group mt-3">
                    <form method="post" action="{% url 'contacto' %}">
                    {% csrf_token %}
                        <div class="row g-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" id="id_nombre" name="nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apellidos" aria-label="Apellidos" id="id_apellidos" name="apellidos">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mt-3">
                                <input type="email" class="form-control" placeholder="Correo electrónico" aria-label="Correo" id="id_correo" name="correo">
                            </div>
                            <div class="mb-3 mt-3">
                                <label class="form-label text-white">Mensaje</label>
                                <textarea class="form-control" id="id_mensaje" name="mensaje" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Gracias por su Mensaje</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p class="text-primary">Su mensaje ha sido enviado con éxito, nos pondremos en contacto con usted gracias. </p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg align-self-end">
                <a style="text-decoration: none;" target="_blank" href="https://www.facebook.com/reinodamata" class="link-info">
                    Facebook |
                </a>
                <a style="text-decoration: none;" target="_blank" href="https://www.instagram.com/reinodamata" class="link-info">
                Instagram
                </a>
            </div>
            <div class="col-12 col-lg" style="color:rgb(202, 202, 202);">
                <div>
                    <h6 class="float-start">Ubicación:</h6>
                    <iframe 
                    class="rounded-3"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3272.8074650783324!2d-56.12480528539434!3d-34.8861807803873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81285323019b%3A0x6430d20942908b1a!2sDr%20Jos%C3%A9%20Mar%C3%ADa%20Delgado%201935%2C%2011400%20Montevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses-419!2suy!4v1636387164162!5m2!1ses-419!2suy" 
                    width="400" height="250" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
                <div class="mt-3">
                    ©Centro Umbandista Reino da Mata. Todos los derechos reservados
                </div>
                
            </div>
        </div>
    </div>
</footer>