{% load static %}
<footer id="footer" class="pb-4 pt-4 bg-dark clearfix">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-lg">
              <!--  <a style="text-decoration: none;"
                   class="link-info"
                   href="{% url 'formulario_contacto' %}">
                    Contáctanos
                </a> -->
            </div>
            <div class="col-12 col-lg">
                <a style="text-decoration: none;"  href="" class="link-info">
                    Facebook |
                </a>
                 <a style="text-decoration: none;"  href="" class="link-info">
                    Twitter |
                </a>
                 <a style="text-decoration: none;"  href="" class="link-info">
                    Instagram
                 </a>
            </div>
            <div class="col-12 col-lg" style="color:rgb(202, 202, 202);">
                ©Centro Umbandista Reino da Mata. Todos los derechos reservados
            </div>
        </div>
    </div>
</footer>