{% extends 'base.html' %}
{% block title %}Cambiar Contraseña{% endblock %}
{% block content %}
<div class="container">
    <div class="card-body mt-5">
        <h1>Cambiar Contraseña</h1>
        <div class="form-group">
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Cambiar Contraseña</button>
            </form>
            <br><br>
            <ul>
                <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                <li>Su contraseña debe contener al menos 8 caracteres.</li>
                <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                <li>Su contraseña no puede ser completamente numérica.</li>
            </ul>
        </div>
    </div>
</div>


{% endblock content %}