{% extends 'base.html' %}
{% load static %}
{% block title %}Login {% endblock %}
{% block content %}
<div class="container">
    <div class="row mb-5">
        <div class="col-md-6 text-center mx-auto">
            <div class="card mt-5 border-success bg-success shadow p-3 mb-5 rounded" >
                <div class="card-header bg-transparent border-success" >
                    <img src="{% static 'blog/images/Logo_reino_da_mata-min.jpg' %}"
                         class="card-img-top rounded-circle"
                         style="height:250px; width: 18rem;"
                         alt="Logo"
                    >
                </div>

                <div class="card-body mt-5 text-center">
                    <h1>Login</h1>
                    <div class="form-group">
                        <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary">Login</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}