{% extends 'base.html' %}
{% load static %}
{% block title %}Perfil de Usuario {% endblock title %}
{% block content %}

<div class="container mt-5 mb-5">
    <div class="row mb-3 g-0">
        <h1>Perfil de Usuario</h1>
        <div class="col-md-8">
            <div class="card mb-4 flex-md-row bg-success" style="max-width: 540px;">
              <div class="card-body d-flex flex-column align-items-start">
                <h5 class="card-title text-white">
                    {{ page_user.user.first_name }}
                    {{ page_user.user.last_name }}
                </h5>
                  <p class="card-text text-white">
                      {{ page_user.bio }}
                  </p>
                <p class="card-text-muted">
                    {% if page_user.facebook_url %}
                        |<a href="{{ page_user.facebook_url }}" style="text-decoration: none">Facebook</a>
                    {% endif %}
                     {% if page_user.twitter_url %}
                        |<a href="{{ page_user.twitter_url }}" style="text-decoration: none">Twitter</a>
                    {% endif %}
                     {% if page_user.instagram_url %}
                        |<a href="{{ page_user.instagram_url }}" style="text-decoration: none">Instagram</a>
                    {% endif %}
                </p>
              </div>
                {% if page_user.profile_pic %}
                <div class="col-md-4">
                    <img class="w-100 mx-auto h-100" src="{{ page_user.profile_pic.url }}"
                       alt="Avatar de Perfil"
                  >
                </div>
                {% else %}
                    <img class="card-img-right flex-auto d-none d-lg-block w-100"
                         src="{% static 'theblog/images/icono.jpg' %}" alt="Avatar">
            </div>
                {% endif %}
            </div>
        </div>
</div>
</div>
{% endblock content %}